* text=auto eol=crlf

*.rs      text eol=crlf
*.toml    text eol=crlf
*.md      text eol=crlf
*.yml     text eol=crlf
*.yaml    text eol=crlf

*.sh      text eol=lf
*.png     binary
*.ico     binary
*.icns    binary
